<ion-header>
  <ion-toolbar>
    <ion-title>Intro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides>
    <ion-slide class="image">
      <div>
        <img src="assets/images/slide-1.png" alt="">
        <h2>Slide 1</h2>
        <p>
            Texto é um conjunto de palavras e frases encadeadas que 
            permitem interpretação e transmitem uma mensagem.
            É qualquer obra escrita em versão original.
        </p>
      </div>
    </ion-slide>
    <ion-slide class="image">
      <div>
        <img src="assets/images/slide-2.png">
        <h1>Slide 2</h1>
      </div>
    </ion-slide>
    <ion-slide class="image">
      <div>
        <img src="assets/images/slide-3.png">
        <h1>Slide 3</h1>
      </div>
    </ion-slide>
    <ion-slide class="image">
        <div>
          <img src="assets/images/slide-3.png">
          <h1>Slide 4</h1>
          <a (click)="goTotabsPage()" >Link</a>
        </div>
      </ion-slide>

  </ion-slides>


</ion-content>